* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0d0d0d;
    font-family: Arial, Helvetica, sans-serif;
}

input,
textarea,
button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85rem;
}

html,
body {
    width: 100%;
    height: 100%;
}

section#auth {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

section#auth div.container {
    width: 480px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 24px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

form.auth {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

form.auth input {
    padding: 8px 12px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 12px;
    background-color: #0d0d0d;
    color: #f2f2f2;
}

form.auth button {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: #f2f2f2;
    cursor: pointer;
}

#home {
    background-color: #f2f2f2;
    width: 600px;
    margin: auto;
    padding: 24px;
}

form.form-post,
form.form-comment {
    margin: 24px 0px;
}

.container-post,
.container-comment {
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 12px;
    margin: 12px 0px;
}

section#edit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0px;
}

.container-edit,
.container-post {
    background-color: #f2f2f2;
    padding: 12px;
}
